body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(120.37deg, #08433F 3.83%, rgba(19, 16, 81, 0.952588) 15.07%, rgba(74, 221, 241, 0.43) 104.17%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.mainDiv{
  display: flex;
  justify-content: center;
  min-height: 10vh;
  margin-left: 1rem;
  margin-right: 1rem;
}

.h1{
  margin-top: 5rem ;
  margin-bottom: 3rem;
  color: white;
  font-weight: bold;
}

h5{
  font-weight: 400;
}

nav{
  height: 3.5rem;
  background-color: #070A23;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logo{
  height: 35px;
}

.menuItems{
  color: white;
}

.navul{
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-left: 1rem;
}

.link{
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: all .2s;
}

.link:hover{
  transform: scale(1.03);
}

.mainInput{
  height: 3.5rem;
  width: 50vw;
  border: none;
  padding-left: 1rem;
  padding-right: 1rem;
  outline: none;
  font-size: 14px ;
}

.mainBtn{
  height: 3.6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: all .1s;
  background-image: linear-gradient(300.26deg, #2AABF4 -49.74%, #73FF04 141.05%);
}

.mainBtn:hover{
  background-image: linear-gradient(300.26deg, #1f8ece -49.74%, #52ac09 141.05%);
}

.todoDiv{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
  background-image: linear-gradient(85.59deg, #FFE247 -21.94%, #F93434 150.22%);
}

.checkbox{
  height: 1rem;
  width: 1rem;
  margin:0 1rem;
  
}

.textDiv{
  display: flex;
  align-items: center;
}

.btnDiv{
  height: 100%;
}

.greenBtn{
  background-color:#99D798 ;
  height: 4rem;
  width: 3.5rem;
  border: none;
  cursor: pointer;
  transition: all .1s;
}

.redBtn{
  background-color: #FF9696;
  height: 4rem;
  width: 3.5rem;
  border: none;
  cursor: pointer;
  transition: all .1s;
  
}

.greenBtn:hover{
  background-color:#5dd65b ;
}

.redBtn:hover{
  background-color:#d45454 ;
}

.fas{
  font-size: 1.3rem;
}

.secondaryInput{
  height: 1.7rem;
  width: 150%;
  border: none;
  padding-left: 1rem;
  font-size: 0.8rem;
}

.todoTask{
  width: 100%;
  max-width: 20rem;
}

.habitDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.habitList{
  background-image: linear-gradient(92.87deg, #1581FF -14.83%, #6A1588 130%);
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
  position: relative;
  border-radius: 2px;
  width: 70%;
  max-width: 36rem;
}

.habitList:hover{
  background-image: linear-gradient(120deg, #1270db -14.83%, #53126b 130%);
}

.habitList:hover .fas{
  margin-bottom: 0rem;
  animation: arrowAnimation 1s linear infinite;
}

.showHabits{
  height: fit-content;
  transition: height 1s ease-in-out;
  width: 90%;
}

.List{
  list-style: none;
}

.flex>.habits:last-child{
  margin-bottom: 3rem;
}

.flex{
  cursor: default
}

.sideBySide{
  display: flex;
  align-items: center;
}

.sideBySide > input, .sideBySide > label{
  cursor: pointer;
}

.topPart{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.topPart > p{
  padding: 0 1rem;
}

.forVL{
  position: relative;
}

.forVL::before{
  content: '';
  height: 150%;
  width: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -6px;
  left: -5px;
}

.arrow{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 0;
}

.fa-chevron-up, .fa-chevron-down{
  margin-bottom: 2rem;
}

@media screen and (max-width: 600px){
  .habitList{
    width: 100%
  }
  
}

@media screen and (max-width: 345px){
  .mainInput{
    width: 45vw
  }

  .mainBtn{
    font-size: 0.8rem;
    width: 6rem;
    height: 3.65rem;
    padding: 0 0.5rem;
  }


  
}

@keyframes arrowAnimation {

  from {
    margin-bottom: 2rem;
  }

  to{
    margin-bottom: 1rem;
  }
  
}